<div id="title">
  <h1>
    {% if site.git %}
      <a href="{{site.git}}"><i class="fa fa-github" style="color:#fff;"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
      <a href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow" style="color:#fff;"></i></a>
    {% endif %}
    <a id="sitename" href="/">The Sound of Emotion</a>
  </h1>
<div style="block">
        
</div>
  <!-- Add something about you in p tag-->
  <p>Officially Selected Project for the San Francisco Market Street Prototype Festival - April 9-11, 2015.</p>
  <hr/>
  
  {% include nav-links.html %} 
  
</div>


